# If you are running this on a different machine, set the following env variables.
AUGMENTOS_API_KEY=

# When the SDK is updated to include settings, this won't be needed since it will be set automatically per user based on where their client is pointng.
CLOUD_HOST_NAME= # e.g. prod.augmentos.org

PACKAGE_NAME=com.augmentos.livecaptions